{% extends 'layouts/base.html' %} {% include 'components/navbar.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %}Homepage{% endblock %}
  </head>
  <body>
    {% block content %}
    <div class="bg-background w-screen h-screen">
      <p>This is the homepage!</p>
      <p>Welcome {{username}}</p>
      <p><a href="{{ url_for( 'logout' ) }}">Logout</a></p>
    </div>
    {% endblock %}
  </body>
</html>
