{% extends 'layouts/base.html' %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <script src="/static/js/alert-dismissal.js"></script>

    <title>Reset Password</title>
  </head>
  <body>
    <div
      class="xl:bg-reset-p-bg md:bg-reset-p-bg-md bg-reset-p-bg-sm p-0 m-0 w-full h-screen bg-cover bg-no-repeat bg-fixed bg-[100vh 100vh] relative flex items-center justify-center"
    >
      <div
        class="flex items-center md:min-w-[600px] md:min-h-[490px] min-w-[320px] min-h-[510px] absolute inset-1/2 transform -translate-x-1/2 -translate-y-1/2 flex-col bg-background rounded-xl shadow-sm border border-black opacity-95 justify-center"
      >
        <div class="flex items-center flex-col">
          <h1
            class="font-primary font-bold text-primary md:text-4xl md:mb-7 md:mt-4 text-3xl mb-7 mt-4 text-center md:mx-0 mx-2"
          >
            Reset Password
          </h1>
          <div class="flex items-center justify-center h-full w-full">
            <form
              method="POST"
              action="{{ url_for('reset_password', token=token) }}"
            >
              <div>
                <label
                  class="text-primary font-primary md:text-3xl text-2xl"
                  for="new_password"
                  >Password:</label
                ><br />

                <div class="relative">
                  <input
                    class="bg-black border border-gray-700 focus:border-primary focus:ring-0 focus:outline-none text-primary font-primary mt-3 h-10 rounded-lg px-3 md:w-[30em] w-[18em]"
                    type="password"
                    name="new_password"
                    id="password"
                    placeholder="Password"
                    required
                  />
                  <span
                    class="material-symbols-outlined text-primary absolute top-5 right-2"
                  >
                    lock
                  </span>
                </div>
                <div class="mt-2 ml-1">
                  <input
                    type="checkbox"
                    id="showPassword"
                    name="show-password"
                    class="h-4 w-4 checked:bg-primary accent-primary hover:accent-orange-600 hover:cursor-pointer transition duration-150 ease-in-out"
                  />
                  <label class="text-primary font-primary" for="show-password"
                    >Show Password</label
                  >
                </div>
              </div>
              <br />
              <div>
                <label
                  class="text-primary font-primary md:text-3xl text-2xl"
                  for="confirm_password"
                  >Confirm Password:</label
                ><br />

                <div class="relative">
                  <input
                    class="bg-black border border-gray-700 focus:border-primary focus:ring-0 focus:outline-none text-primary font-primary mt-3 h-10 rounded-lg px-3 md:w-[30em] w-[18em]"
                    type="password"
                    name="confirm_password"
                    id="Confirm-password"
                    placeholder="Password"
                    required
                  />
                  <span
                    class="material-symbols-outlined text-primary absolute top-5 right-2"
                  >
                    lock
                  </span>
                </div>
                <div class="mt-2 ml-1">
                  <input
                    type="checkbox"
                    id="showConfirmPassword"
                    name="show-password"
                    class="h-4 w-4 checked:bg-primary accent-primary hover:accent-orange-600 hover:cursor-pointer transition duration-150 ease-in-out"
                  />
                  <label class="text-primary font-primary" for="show-password"
                    >Show Password</label
                  >
                </div>
              </div>
              <br />
              <div class="flex flex-col items-center">
                <input
                  class="text-black font-extrabold font-primary bg-primary h-10 w-24 rounded-lg hover:cursor-pointer active:bg-orange-500 hover:bg-orange-600 p-2 mr-4"
                  type="submit"
                  name="submit"
                  id="login-submit"
                />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

{% endblock %}
