{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=\, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <title>login</title>
  </head>
  <body>
    <div class="bg-cover relative">
      <img
        src="/static/img/login-page-bg.jpg"
        class="w-svw h-svh"
        alt="The Wild Beyond The Witchlight Cover"
      />
    </div>

    {% with messages = get_flashed_messages() %} {% if messages %} {% for msg in
    messages %}
    <p>{{msg}}</p>
    {% endfor %} {% endif %} {% endwith %}
    <div class="bg-primary">
      <h1 style="color: #f7efd3">login</h1>
      <form method="POST" action="{{ url_for('login') }}">
        <input type="text" name="username" placeholder="username" /><br />
        <input type="password" name="password" placeholder="password" /><br />
        <input type="submit" />
      </form>
    </div>
  </body>
</html>

{% endblock %}
