{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=\, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <title>login</title>
  </head>
  <body>
    {% with messages = get_flashed_messages() %} {% if messages %} {% for msg in
    messages %}
    <p>{{msg}}</p>
    {% endfor %} {% endif %} {% endwith %}

    <div
      class="xl:bg-login-bg md:bg-login-bg-md bg-login-bg-sm p-0 m-0 w-full h-screen bg-cover bg-no-repeat bg-fixed bg-[100vh 100vh] overflow-hidden relative flex items-center justify-center"
    >
      <div
        class="flex items-center xl:min-w-[600px] min-h-[400px] absolute inset-1/2 transform -translate-x-1/2 -translate-y-1/2 flex-col bg-primary rounded-xl"
      >
        <div class="flex items-center justify-center flex-col">
          <h1 class="font-primary font-bold text-accent text-4xl mb-7 mt-4">
            Login to experience the magic!
          </h1>
          <div class="flex items-start justify-start h-full w-full">
            <form method="POST" action="{{ url_for('login') }}">
              <div>
                <label class="text-accent font-primary text-3xl" for="username"
                  >Username:</label
                >
                <br />
                <div class="relative">
                  <input
                    class="bg-black border border-gray-700 focus:border-accent focus:ring-0 focus:outline-none text-accent font-primary mt-3 h-10 rounded-lg px-3 w-[25em]"
                    type="text"
                    name="username"
                    id="login-username"
                    placeholder="Username"
                    required
                  />
                  <span
                    class="material-symbols-outlined text-accent absolute top-5 right-2"
                  >
                    person
                  </span>
                </div>
              </div>
              <br />
              <div>
                <label class="text-accent font-primary text-3xl" for="password"
                  >Password:</label
                ><br />
                <div class="relative">
                  <input
                    class="bg-black border border-gray-700 focus:border-accent focus:ring-0 focus:outline-none text-accent font-primary mt-3 h-10 rounded-lg px-3 w-[25em]"
                    type="password"
                    name="password"
                    id="login-password"
                    placeholder="Password"
                    required
                  />
                  <span
                    class="material-symbols-outlined text-accent absolute top-5 right-2"
                  >
                    lock
                  </span>
                </div>
              </div>
              <br />
              <input
                class="text-black font-extrabold font-primary bg-accent h-10 w-24 rounded-lg hover:cursor-pointer"
                type="submit"
                name="submit"
                id="login-submit"
              />
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

{% endblock %}
