::-webkit-scrollbar {
    width: 0.75em;
    height: 0.75em;
}

::-webkit-scrollbar-track {
    background-color: #13212E;
}

::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 100vh;
}